body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    font-family: inter, sans-serif;
}

.pontuacao{
    margin-top: -12px;
}

